@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.edit-challenge-form {
    margin: 1rem;

    @include tablet {
        flex: 1;
    }

    &__heading {
        @include table-heading-mobile;
        margin-left: 5%;

        @include desktop {
            font-size: 2.5rem;
        }
    }

    &__section {
        margin-top: 3rem; 

        @include tablet {
            display: flex;
            align-items: center;
        }
    }

    &__img-wrapper {
        margin: 1rem;
    }

    &__img {
        width: 100%;

        @include tablet {
            border-radius: 0.35rem;
            width: 30vw;
        }
    }

    &__name-wrapper, &__description-wrapper {
        padding: 1rem 0;
    }

    &__label {
        color: $light-grey;
        font-weight: 600;
        font-size: 0.75rem;

        @include desktop {
            font-size: 1rem;
        }
    }

    &__name-input {
        @include edit-inputs-mobile;
        padding: 0.5rem 0 0.5rem 0.8rem;

        @include desktop {
            font-size: 1rem;
        }
    }

    &__input--error {
        border: 1px solid $ruby;
    }

    &__description-input {
        @include edit-inputs-mobile;
        padding: 0.5rem 0 8rem 0.8rem;

        @include desktop {
            font-size: 1rem;
            padding-right: 0.5rem;
        }
    }

    &__btns-wrapper {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-left: auto;

        @include tablet {
            width: 35%;
        }

        @include desktop {
            width: 25%;
        }
    }

    &__btn {
        @include edit-btn-mobile;
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;

        @include desktop {
            font-size: 1rem;
            padding: 0.5rem 1rem;
        }
    }
}