@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(0deg, $dark-grey, $black 80%, $ruby);
}

a {
    text-decoration: none;
}