$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;
@use './typography' as *;
@use './colors' as *;

@mixin tablet {
    @media screen and (min-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin table-heading-mobile {
    font-size: 1.9rem;
    font-weight: 700;
    color: white;
    margin-top: 20%;
}

@mixin table-subheadings-lg {
    font-size: 0.6rem;
    font-weight: 300;
    color: $light-grey;
    width: 25%;
}

@mixin table-text-mobile {
    font-size: 0.75rem;
    font-weight: 400;
    width: 25%;
}

@mixin table-img-mobile {
    width: 7.5vw;
    height: 7.5vw;
    object-fit: cover;
}

@mixin edit-btn-mobile {
    border-radius: 50%;
    border: none;
    background-color: $ruby;
    color: $light-grey;
    padding: 1rem 0.8rem;
    margin-left: auto;
}

@mixin edit-inputs-mobile {
    border-radius: 0.5rem;
    font-family: $primary-font;
    border: 1px solid $dark-grey;
    margin-top: 0.5rem;
    width: 100%;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    filter: invert(75%);
}