@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.challenges {
    margin: 1rem;

    @include tablet {
        margin: 1rem 2rem;
    }

    @include desktop {
        margin: 1rem 5rem;
    }

    &__wrapper {
        display: flex;

        &--sidebar-open {
            margin-right: 35vw;
        }
    }

    &__main {
        flex: 1;
        width: 100%;

        &--sidebar-open {
            width: 70vw;
        }
    }

    &__heading {
        @include table-heading-mobile;

        @include desktop {
            font-size: 2.5rem;
        }
    }

    &__column-headings-wrapper-lg {
        display: none;

        @include tablet {
            display: flex;
        }
    }

    &__column-heading-lg {
        @include table-subheadings-lg;

        @include desktop {
            font-size: 0.7rem;
        }

        &--title {
            width: 55%;
            padding-left: 0.5rem;

            @include tablet {
                width: 51%;
            }

            @include desktop {
                width: 46%;
            }
        }
    }

    &__instance-link {
        color: white;
    }

    &__instance {
        display: flex;
        padding: 0.5rem;

        @include desktop {
            height: 5rem;
        }

        &:hover {
            background-color: rgb(83, 83, 83, 0.4);
        }
    }

    &__img {
        @include table-img-mobile;

        @include desktop {
            width: 4vw;
            height: 4vw;
            border-radius: 0.25rem;
        }
    }

    &__text {
        @include table-text-mobile;
        color: $light-grey;
        margin-block-start: 0.55em;

        @include desktop {
            font-size: 0.85rem;
        }
    }

    &__name {
        @include table-text-mobile;
        color: white;
        width: 40%;
        margin-left: 1rem;
        padding-right: 1rem;

        @include desktop {
            font-size: 0.85rem;
        }
    }

    &__scroll-to-top-wrapper {
        position: fixed;
        bottom: 0;
        right: 0;
        cursor: pointer;
        border-radius: 50%;
        padding: 0.35rem;
        margin: 0 3rem 5rem 0;
        background-color: rgb(164, 163, 163, 0.2);

        @include desktop {
            margin: 0 3rem 3rem 0;
            background: none;
        }
    }
        
        &__scroll-to-top {
            filter: invert(100%);
            width: 2rem;
            height: 2rem;
    }
}