@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.contestant {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;

    @include tablet {
        margin-top: 10%;
        flex-direction: row;
        align-items: flex-end;    
    }

    @include desktop {
        margin: 10% 5%;
    }

    &--sidebar-style {
        flex-direction: column;
        align-items: center;
    }

    &__img {
        width: 95%;
        height: 60vh;
        object-fit: cover;
        border-radius: 0.25rem;

        @include tablet {
            border-radius: 0.35rem;
            width: 30vw;
        }

        &--sidebar-style {
            width: 20vw;
            height: 50%;
        }
    }

    &--right {
        @include tablet {
            margin-left: 2rem;
        }
    }

    &__name {
        @include table-heading-mobile;

        @include desktop {
            font-size: 2.4rem;
            margin-top: 10%;
        }
    }

    &__description {
        @include table-text-mobile;
        color: $light-grey;
        width: 90%;
        line-height: 1rem;

        @include tablet {
            font-size: 0.9rem;
            line-height: 1.2rem;
        }

        @include desktop {
            font-size: 1rem;
            line-height: 1.4rem;
        }
    }

    &__edit-btn {
        @include edit-btn-mobile;
    }
}