@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.contestants {
    margin: 1rem;

    &__heading {
        @include table-heading-mobile;
    }

    &__column-headings-wrapper-lg {
        display: flex;
    }

    &__column-heading-lg {
        @include table-subheadings-lg;

        &--name {
            width: 60%;
        }
    }

    &__instance-link {
        color: white;
    }

    &__instance {
        display: flex;
        align-items: center;
    }

    &__img {
        @include table-img-mobile;
    }

    &__text {
        @include table-text-mobile;
        color: $light-grey;
    }

    &__name {
        @include table-text-mobile;
        color: white;
        width: 40%;
    }
}