@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;

.contestants {
    margin: 1rem;

    @include tablet {
        margin: 1rem 2rem;
    }

    @include desktop {
        margin: 1rem 5rem;
    }

    &__heading {
        @include table-heading-mobile;

        @include desktop {
            font-size: 2.5rem;
        }
    }

    &__column-headings-wrapper-lg {
        display: flex;
    }

    &__column-heading-lg {
        @include table-subheadings-lg;

        @include desktop {
            font-size: 0.7rem;
        }

        &--name {
            width: 55%;

            @include tablet {
                width: 51%;
            }

            @include desktop {
                width: 46%;
            }
        }
    }

    &__instance-link {
        color: white;
    }

    &__instance {
        display: flex;
        align-items: center;
        padding: 0.5rem;

        @include desktop {
            height: 5rem;
        }

        &:hover {
            background-color: $dark-grey;
        }
    }

    &__img {
        @include table-img-mobile;

        @include desktop {
            width: 4vw;
            height: 4vw;
            border-radius: 0.25rem;
        }
    }

    &__text {
        @include table-text-mobile;
        color: $light-grey;

        @include desktop {
            font-size: 0.85rem;
        }
    }

    &__name {
        @include table-text-mobile;
        color: white;
        width: 40%;
        margin-left: 1rem;

        @include desktop {
            font-size: 0.85rem;
        }
    }
}